@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Oswald", sans-serif;
}

@import 'tailwindcss';

@keyframes fadey {

  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-fadey {
  animation: fadey 5s ease-in-out infinite;
}